search-voters-result {
    .logo {
        width: 42px;
        margin-left: 7px;
        vertical-align: middle;
    }

    .toolbar-content-md {
        display: table-cell;
    }

    .logo1 {
        width: 55%;
    }

    .menu_icon {
        float: right;
        font-size: 30px;
        padding-right: 10px;
        padding-top: 7px;
        color: black;
    }

    .auth-header .toolbar-background {
        background-color: white;
    }

    .auth-content .auth-action-button {
        background-color: #efe6e6;
        box-shadow: none;
        font-size: 1.6rem;
        border-radius: 6px;
        margin-top: 10px;
    }

    .button-md:hover:not(.disable-hover) {
        background-color: #ed9622;
    }

    .auth-header .toolbar-title,
    .auth-header .back-button,
    .auth-header .bar-button {
        color: black;
    }

    .head {
        text-align: center;
        margin-top: 12px;
    }

    .space {
        margin-bottom: 17px;
        height: auto;
    }

    .schedule-data {
        border-radius: 6px;
        background-color: $white;
        padding: 12px 14px;
        @include element-shadow();

        .data-item {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .schedule-data1 {
        border-radius: 6px;
        background-color: $white;
        padding: 12px 14px !important;
        @include element-shadow();

        .data-item {
            height: 100%;
            align-items: center;
            justify-content: center;
            font-size: 15px;
            color: #5e5874;
        }
    }

    .title {
        font-size: 17px !important;
        font-weight: bold;
    }

    .edit-icon {
        float: right;
        color: #efe6e6;
    }

    .title1 {
        font-size: 17px !important;
        font-weight: bold;
        text-align: center;
    }

    .footer {
        font-size: smaller;
        padding: 0px 15px;
        background-color: #444;
        color: white;
        text-align: center;
    }

    .privacy {
        color: #00748f !important;
    }

    .bell_icon {
        font-size: 30px;
        margin-right: 15px;
        color: black;
    }

    .refresh-icon {
        margin-top: 5px;
        font-size: 1.7em;
        color: #d83c20;
    }

    .refresh-icon1 {
        margin-top: 5px;
        font-size: 2.7em;
        margin-right: 26px;
    }

    #ex4 .p1[data-count]:after {
        position: absolute;
        right: 54.2%;
        top: 33%;
        content: attr(data-count);
        font-size: 40%;
        padding: .2em;
        border-radius: 50%;
        line-height: 1.5em;
        color: #d83c20;
        background: black;
        text-align: center;
        min-width: 1.5em;
        font-weight: bold;
    }

}
