news-modal{
    .logo{
        width: 42px;
        margin-left: 5px;
        vertical-align: middle;
    }
    .toolbar-content-md{
        display: table-cell;
    }
    .menu_icon{
        float: right;
        font-size: 30px;
        padding-right: 10px;
        padding-top: 7px;
        // color: white;
        color: black;
    }   
    .news_header{
        font-weight: bold;
        font-size: 22px;
        padding: 16px !important;
    }
    .news_desc{
        padding: 16px !important;
        line-height: 20px;
        font-size: 15px;
    }
    .news_image{
        padding: 0 !important;
        text-align:center;
    }
    .news_photo{
        height: 100%;
        width: 100%;
    }
    .auth-header .toolbar-background {
        background-color: white;
    }
}