<ion-header class="login-header auth-header">
    <ion-navbar>
        <ion-buttons left>
            <button ion-button menuToggle>
                <ion-icon name="menu" class="menu_icon"></ion-icon>
            </button>
        </ion-buttons>
        <img class="logo" src="{{imageUrl}}">
    </ion-navbar>
</ion-header>

<ion-content class="login-content auth-content">
    <div class="buttons">
        <h2 class="head">{{'Voters' | translate}}</h2>
    </div>
    <ion-row class="space" *ngIf="item">
        <ion-col class="schedule-data1 shadow">
            <div class="data-item">
                <div>{{'Voter Id' | translate}}:{{item.voterId}}</div>
                <div>{{'First name' | translate}}:{{item.firstName}}</div>
                <div>{{'Family name' | translate}}:{{item.familyName}}</div>
                <div>{{'Gender' | translate}}:{{item.gender}}</div>
                <div>{{'Age' | translate}}:{{item.age}}</div>
                <div>{{'Polling station' | translate}}:{{item.booth.address}}</div>
            </div>
        </ion-col>
    </ion-row>

    <button ion-button block (click)="showSearchNearBy()" class="auth-action-button login-button">
        {{'Voters in location' | translate}}
    </button>

    <ng-container *ngIf="noRecords != 0">
        <ion-row class="space" *ngFor="let item of SearchNearBy; let i=index">
            <ion-col class="schedule-data1 shadow">
                <div class="data-item">
                    <div>{{'Voter Id' | translate}}:{{item.voterId}}</div>
                    <div>{{'First name' | translate}}:{{item.firstName}}</div>
                    <div>{{'Family name' | translate}}:{{item.familyName}}</div>
                    <div>{{'Gender' | translate}}:{{item.gender}}</div>
                    <div>{{'Age' | translate}}:{{item.age}}</div>
                    <div>{{'Polling station' | translate}}:{{item.booth.address}}</div>
                </div>
            </ion-col>
        </ion-row>
    </ng-container>
    
    <ion-row class="space" *ngIf="noRecords == 0">
        <ion-col class="schedule-data1 shadow">
            <div class="data-item">
                <div class="title1">{{'No records found' | translate}}</div>
            </div>
        </ion-col>
    </ion-row>
</ion-content>
<ion-footer>
        <p class="footer" *ngIf="descText!=undefined">&copy;{{descText.footer}} <a href="http://smartneta.com/privacy-policy/"><u class="privacy">Privacy Policy</u></a></p>
    </ion-footer>