search-voters-view-location{
    .logo{
        width: 42px;
        margin-left: 7px;
        vertical-align: middle;
    }
    .toolbar-content-md{
        display: table-cell;
    }

    .logo1{
        width: 55%;
    }
    .menu_icon{
        float: right;
        font-size: 30px;
        padding-right: 10px;
        padding-top: 7px;
        color: black;
    }
    .auth-header .toolbar-background {
        background-color: white;
    }
    .auth-content .auth-action-button{
        background-color: #ed9622;
        box-shadow: none;
        text-transform: none;
        font-size: 1.8rem;
        border-radius: 6px;
        margin-bottom: 17px;
    }
    .button-md:hover:not(.disable-hover) {
        background-color: #ed9622;
    }
    .auth-header .toolbar-title, .auth-header .back-button, .auth-header .bar-button{
        color: black;
    }
    .head{
        text-align: center;
    }
    .space{
        margin-bottom: 17px;
        height: auto;
    }
    .schedule-data
    {
        border-radius: 6px;
        background-color: $white;
        padding: 12px 14px;
        @include element-shadow();

        .data-item
        {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .schedule-data1{
        border-radius: 6px;
        background-color: $white;
        padding: 12px 14px !important;
        @include element-shadow();
        .data-item
        {
            height: 100%;
            align-items: center;
            justify-content: center;
            font-size: 15px ;
            color: #5e5874;
        }
    }
    .title{
        font-size: 17px !important;
        font-weight: bold;
    }
    .edit-icon{
        float: right;
        color: grey;
    }
    .bell_icon {
        font-size: 30px;
        margin-right: 15px;
        color: black;
    }
    .title1{
        font-size: 17px !important;
        font-weight: bold;
        text-align:center;
    }
    .footer{
        font-size: smaller;
        padding: 0px 15px;
        background-color: #444;
        color: white;
        text-align: center;
    }
    .privacy{
        color: #00748f !important;
    }
}
