<ion-header class="login-header auth-header" *ngIf='isLoggedin'>
    <ion-navbar>
        <img class="logo" src="{{imageUrl}}">
        <div id="ex4" float-right>
            <span class="p1 fa-stack fa-2x has-badge" (click)="checkNetworkConnection()" *ngIf='localdataSync.anyChange'
                data-count="!">
                <ion-icon class="refresh-icon" name="md-sync"></ion-icon>
            </span>
            <ion-icon class="refresh-icon1" name="md-sync" *ngIf='!localdataSync.anyChange'></ion-icon>
        </div>
        <button ion-button menuToggle>
            <ion-icon class="menu_icon" name="menu"></ion-icon>
        </button>
        <ion-buttons end style="display: flex !important;">
            <button ion-button (click)="gotoNotification()">
                <ion-icon name="ios-notifications" class="bell_icon"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="login-content auth-content">
    <ion-row *ngIf='!isLoggedin'>
        <ion-col class="bjplogo">
            <img class="logo1" src="{{imageUrl}}">
        </ion-col>
    </ion-row>
    <ion-row *ngIf='!isLoggedin'>
        <ion-col>
        </ion-col>
    </ion-row>
    <ion-list>
        <ion-item>
            <ion-label>{{'Language' | translate}}</ion-label>
                <ion-select [(ngModel)]="lang" (ionChange)="switchLanguage()" okText="{{'Ok'|translate}}" cancelText="{{'Cancel'|translate}}">
                    <ion-option value="en">{{'English' | translate}}<span *ngIf="lang !== 'en' && lang !== 'none'">(English)</span></ion-option>
                    <ion-option value="hi">{{'Hindi' | translate}}<span *ngIf="lang !== 'en' && lang !== 'none'">(Hindi)</span></ion-option>
                    <ion-option value="kn">{{'Kannada' | translate}}<span *ngIf="lang !== 'en' && lang !== 'none'">(Kannada)</span></ion-option>
                </ion-select>
        </ion-item>
    </ion-list>
</ion-content>

<ion-footer *ngIf='isLoggedin'>
    <p class="footer" *ngIf="descText!=undefined">&copy;{{descText.footer}} <a href="http://smartneta.com/privacy-policy/"><u
                class="privacy">Privacy Policy</u></a></p>
</ion-footer>