settings{
    .logo{
        width: 42px;
        margin-left: 5px;
        vertical-align: middle;
    }
    .bjplogo{
        text-align: center;
        margin-top: 20px;
    }
    .logo1{
        width: 55%;
    }
    .toolbar-content-md{
        display: table-cell;
    }
    .head{
        text-align: center;
    }
    .refresh-icon {
        margin-top: 5px;
        font-size: 1.7em;
        color: #d83c20;
    }
    .refresh-icon1{
        margin-top: 5px;
        font-size: 2.7em;
        margin-right: 26px;
    }
    #ex4 .p1[data-count]:after{
        position: absolute;
        right: 54.2%;
        top: 33%;
        content: attr(data-count);
        font-size: 40%;
        padding: .2em;
        border-radius: 50%;
        line-height: 1.5em;
        color: #d83c20;
        background: black;
        text-align: center;
        min-width: 1.5em;
        font-weight: bold;
      }
    .menu_icon{
        float: right;
        font-size: 30px;
        padding-right: 10px;
        padding-top: 7px;
        color: black;
    }   
    .auth-header .toolbar-background {
        background-color: white;
    }
    .footer{
        font-size: smaller;
        padding: 0px 15px;
        background-color: #444;
        color: white;
        text-align: center;
    }
    .privacy{
        color: #00748f !important;
    }
    ion-list.list.list-md{
        margin-top: 10px;
    }
    .bell_icon {
        font-size: 30px;
        margin-right: 15px;
        color: black;
    }
}