<ion-header class="login-header auth-header">
    <ion-navbar>
        <ion-buttons left>
            <button ion-button menuToggle>
                <ion-icon name="menu" class="menu_icon"></ion-icon>
            </button>
        </ion-buttons>
        <img class="logo" src="{{imageUrl}}">
        <div id="ex4" float-right>
            <span class="p1 fa-stack fa-2x has-badge" (click)="checkNetworkConnection()" *ngIf='localdataSync.anyChange' data-count="!">
                <ion-icon class="refresh-icon" name="md-sync"></ion-icon>
            </span>
            <ion-icon class="refresh-icon1" name="md-sync"  *ngIf='!localdataSync.anyChange'></ion-icon>
        </div>
        <ion-buttons end style="display: flex !important;">
            <button ion-button (click)="gotoNotification()">
                <ion-icon name="ios-notifications" class="bell_icon"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-row>
        <ion-col class="about">
            <h3 style="margin-bottom: 0;">{{'about' | translate}}</h3>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col class="description" *ngIf="descText != undefined">
            {{descText.about}}
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col class="about">
            <h3 style="margin: 0;">{{'Contact' | translate}}</h3>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col class="description" *ngIf="descText != undefined">
            {{descText.address1}}<br /><br />
            {{descText.address2}}<br /><br />
            Phone :{{descText.contact}}
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col class="about">
            <h3 style="margin: 0;">{{'Email' | translate}}</h3>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col class="description" *ngIf="descText != undefined">
            {{descText.email}}
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col class="about">
            <h3 style="margin: 0;">{{'Website' | translate}}</h3>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col class="description" *ngIf="descText != undefined">
            <a href={{descText.website}}><b>{{descText.website}}</b></a>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col style="padding: 16px" *ngIf="descText != undefined">
            <a href={{descText.facebookLink}} class="fa fa-facebook"></a>
            <a href={{descText.twitterLink}} class="fa fa-twitter"></a>
        </ion-col>
    </ion-row>

</ion-content>

<ion-footer>
    <p class="footer" *ngIf="descText!=undefined">&copy;{{descText.footer}} <a href="http://smartneta.com/privacy-policy/"><u
                class="privacy">Privacy Policy</u></a></p>
</ion-footer>